<!DOCTYPE html>
<html>
  <head>
    <%- head.title.toString() %>
    <link rel="icon" href="/favicon.ico">

    <!-- Dynamic meta -->
    <%- head.meta.toString() %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href="/stylesheets/main.css" />
  </head>
  <body>
    <div id="ExampleSite"><%- reactHTML %></div>
    <script>
      /** for smooth fade in of site **/
      document.getElementById('ExampleSite').className = '';
    </script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
